{% extends "layout.twig" %}

{% block title %}{{ product.name }} - {{ store.name }}{% endblock %}

{% block main_content %}
<h1>{{ product.name }}</h1>
<p>{{ product.description }}</p>
{% endblock %}
