{% extends "layout.twig" %}

{% block title %}{{ locals.search_results }} - {{ store.name }}{% endblock %}

{% block main_content %}
<h1>{{ locals.search_results }}</h1>
<!-- search results list -->
{% endblock %}
